@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --dark-purple: #41414c;
    --orange: #f1972c;
    --orange-hover: #f1972c;
    --red: #eb3b35; 
    --red-hover: #ff5e58; 
    --low-red: #faeceb;
    --green: #36b236;
    --green-hover: #3cc73c;
    --low-green: #e8f8e8;
    --text-dark-gray: #5a5a66; 
    --text-gray: #787880;
    --text-light-gray: #bfbfcc;
    --lines: #e1e3e6;
    --background: #F0F2F5;
    --box: #FCFDFF;
}


* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background: var(--background);
    font-family: Inter;
    /* letter-spacing: 0.02rem; */
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
